/**
 * å¤´éƒ¨åŒºåŸŸ
 */

#header{
}

#header>.topbar{
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}
/*å›ºå®šå®½åº¦ä¸”å±…ä¸­çš„ç‰ˆå¿ƒ*/
#header> .topbar >.container >.row>div{
    height: 40px;
}

#header> .topbar >.container >.row>div:nth-of-type(2n){
    height: 40px;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@font-face {
    font-family: "weijinsuo";
    src:url("../font/MiFie-Web-Font.eot") format('embedded-opentype'),
    url("../font/MiFie-Web-Font.svg") format('svg'),
    url("../font/MiFie-Web-Font.ttf") format('truetype'),
    url("../font/MiFie-Web-Font.woff") format('woff');
}

[class^="icon-"],[class*=" icon-"]{
    font-family:weijinsuo;
    font-style: normal;
}

/*ä¼ªå…ƒç´ å»ºè®®ç”¨ä¸¤ä¸ªå†’å·ï¼Œä¸€ä¸ªå†’å·æ˜¯ä¼ªç±»*/
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

/*é€šæ å¹¿å‘Šï¼Œè½®æ’­*/
#main_ad{}

#main_ad >.carousel-inner >.item{

    background-repeat:no-repeat;
    background-position: center center;
    /*background-size:coverç”¨æœ€å°è¾¹æ’‘æ»¡å®¹å™¨ä¸ºå‡†
      background-size:containæœ€å¤§è¾¹åŒ…å«åˆ°å®¹å™¨å†…ä¸ºå‡†
    */
    background-size:cover;
}


/* å½“å±å¹•å®½åº¦å¤§äºŽ768æ—¶ï¼Œå°†å…ƒç´ é«˜åº¦è®¾ç½®ä¸º410px */
@media (min-width: 768px) {
    #main_ad >.carousel-inner >.item{
        height: 410px;
    }
}

/*section{
    height: 200px;
    background-color: #fff;
}*/
section:nth-child(2n){
    background-color: #f5f5f5;
}

#header .mobile-link{
    font-size:12px;
    color: #888;
}

#header .mobile-link>img{
    display: none;
    position: absolute;
    left:50%;
    margin-left: -60px;
    top:30px;
    z-index: 1001;
}
#header .mobile-link:hover >img{
    display: block;
}

#header > .topbar >.container >.row>div{
    height: 40px;
    font-size:12px;
    color: #888;
}
/*ç¬¬äºŒä¸ªå¼€å§‹*/
#header > .topbar >.container >.row>div+div{
    border-left: 1px solid gray;
}




/**
 * è„šæ³¨åŒºåŸŸ
 */
#footer{}





/*
* å…¬å…±æ ·å¼
*/
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}


.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    margin-bottom: 0;
}
.navbar-itcast .navbar-brand {
    color: #777;
    height:80px;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-itcast .navbar-text {
    color: #777;
}
.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size:14px;
}
.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin: 23px 0;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-itcast .navbar-link {
    color: #777;
}
.navbar-itcast .navbar-link:hover {
    color: #333;
}
.navbar-itcast .btn-link {
    color: #777;
}
.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}
.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}


.icon-icon::before {
    content: "\e920";
}

.icon-logo::before {
    content: "\e93e";
}

#header .icon-icon{
    color:#E92322;
    font-size:50px;
    line-height:50px;
    vertical-align: middle;
}

#header .icon-logo{
    color:#333;
    font-size:32px;
    line-height:50px;
    vertical-align: middle;
}

#tese{
    padding: 50px 0;
    border-bottom:1px solid #c0c0c0;
}

/*#tese> .container > .row >div{
    height: 50px;
    background-color: #f40;
}
#tese> .container > .row >div:nth-of-type(2n){
    background-color: #04f;
}*/

#tese> .container > .row >div{
    margin-top: 20px;
    margin-bottom:20px;
}

.icon-uniE907:before {
    content: "\e907";
}
#tese i{
    font-size:34px;
}
.icon-uniE906:before {
    content: "\e906";
}
#ljyy{
    border-bottom:1px solid #c0c0c0;
    padding: 10px 0;
}
#ljyy > .container >.pull-left,#ljyy > .container >.pull-right{
    line-height:60px;

}

#ljyy > .container >.pull-left >span,#ljyy > .container > p >a{
    color:#e92322;
}
#ljyy > .container >.pull-left >a{
    border-bottom: 1px dotted #e92322;
}

#ljyy > .container >.pull-left >a:hover{
    text-decoration: none;
}


#ljyy > .container > p {
    font-size:14px;
    margin-bottom:0;
}


.icon-uniE905:before {
    content: "\e905";
}

#products{
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products .container .nav-tabs{

padding-left: 20px;
}
#products .container .nav-tabs>li{

}
#products .container .nav-tabs>li>a{

font-size: 16px;

color: #333;
}
#products .container .nav-tabs>li>a:hover{

border-color: transparent;

background-color: transparent;

color: #222;
}
#products .container .nav-tabs>li.active{

}
#products .container .nav-tabs>li.active>a{

background-color: transparent;

border: 0;

border-bottom: 4px solid #e92322;
}

#products .container .tab-content{
    padding:20px 0;
}


.panel-czbk {
    border-color: #ddd;
}
.panel-czbk > .panel-heading {
    /* color: #333; */
    float: right;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 150px;
    width: 120px;
}
.panel-czbk > .panel-body {
    float: left;
    height: 150px;
    background-color: red;
    margin-right: 120px;
}
.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-czbk > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
